.comment {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: var(--secondary);
  max-width: 900px;
  align-items: center;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-content {
  margin-bottom: 10px;
}

.comment-form {
  margin-top: 20px;
  min-width: 767px;
  max-width: 960px;
}

.comment-form input,
.comment-form textarea,
.comment-form button {
  display: block;
  min-width: 300px;
  width: 900px;
  margin-bottom: 10px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: var(--secondary);
  color: var(--text);
}

.comment-form textarea {
  resize: vertical;
}

.comment-form button {
  background-color: var(--primary);
  color: var(--text-accent);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comment-form button:hover {
  background-color: var(--primary);
}

.comment-time {
  color: var(--text-dim);
  font-size: 0.8rem;
}

@media only screen and (max-width: 960px) {
  .comment {
    margin-bottom: 10px;
    min-width: 500px;
    max-width: 800px;
  }

  .comment-content {
    margin-bottom: 5px;
  }

  .comment-form {
    margin-top: 20px;
    min-width: 500px;
    max-width: 800px;
    align-items: center;
  }

  .comment-form input,
  .comment-form textarea,
  .comment-form button {
    min-width: 300px;
    width: 700px;
  }
}

@media only screen and (max-width: 767px) {
  .comment {
    min-width: 300px;
    max-width: 600px;
  }

  .comment-form {
    min-width: 300px;
    max-width: 600px;
  }

  .comment-form input,
  .comment-form textarea,
  .comment-form button {
    min-width: 300px;
    width: 600px;
  }
}
