/* div.index-page{
  height: 90vh;
} */

.layout {
  display: grid;
  grid-template-columns: 5fr .5fr;
  gap: 20px;
  color: var(--text);
}


select {
  appearance: none !important;
  background-color: var(--secondary);
  background: var(--secondary);
  color-interpolation-filters: var(--secondary);
  color: var(--text);
  border:1px;
  padding: 0 1em 0 0;
  margin: 15px 15px;
  font-family: inherit !important;
  font-size: inherit !important;
  cursor: pointer;
  line-height: inherit !important;
}

select:focus {
  outline: none;
  box-shadow: none;
}

option:checked {
  color: var(--secondary);
  background-color: var(--secondary);
  background: var(--secondary);
}

option:is(:checked) {
  background-color: var(--secondary);
}

option:hover {
  color: var(--text-dim)
}

button.filter {
  color: var(--text);
  background-color: var(--secondary);
  border: none;
  cursor: pointer;
}


div.tagFilter {
  background-color: var(--secondary);
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
  margin-bottom: 30px;
  height: auto;
  text-align: center;
  width: 100px;
}

div.tagFilter:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  transform: translateX(-2px);
}


.searchBar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: var(--text);
}

.searchBar form {
  background-color: var(--secondary);
  border-radius: 20px;
  padding: 10px 20px;
  color: var(--text);
}

.searchBar input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 300px;
  font-size: 16px;
  padding: 5px;
  color: var(--text);
}

.searchBar input::placeholder {
  color: var(--text-accent);
  color: var(--text);
}

div.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: var(--text);
}

.paginationButton {
  background: var(--secondary);
  color: var(--text-dim);
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  margin: 7px 7px;

}

.paginationIcon {
  width: 40px;
  height: 40px;
  stroke-width: 1.5;
}

@media only screen and (max-width: 1024px) {


    div.index-page {
      height: 90vh;
    }

    .layout {
      display: grid;
      grid-template-columns: 5fr .5fr;
      gap: 20px;
      color: var(--text);
      width: auto;
      /* align-items: center; */
    }
  .searchBar {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 30px;
      color: var(--text);
    }

    .searchBar form {
      background-color: var(--secondary);
      border-radius: 20px;
      padding: 10px 20px;
      color: var(--text);
    }

    .searchBar input {
      border: none;
      background-color: transparent;
      outline: none;
      width: 300px;
      font-size: 16px;
      padding: 5px;
      color: var(--text);
    }

    .searchBar input::placeholder {
      color: var(--text-accent);
      color: var(--text);
    }


}