.index-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.layout {
  flex: 1;
  display: flex;
  gap: 20px;
  color: var(--text);
}



.tag-filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 15px;
}

.tag-filter-title {
  font-size: 24px;
  margin-bottom: 10px;
}


.tag-select {
  background: var(--secondary);
  color: var(--text-accent);
  border-radius: 15px;
}

.tag-select .react-dropdown{
  border-radius: 15px;
}

.tag-select .react-dropdown-select-clear,
.tag-select .react-dropdown-select-dropdown-handle {
  color: var(--text);
}

.tag-select .react-dropdown-select-option {
  border: 1px solid var(--text-accent);
  /* border-radius: 15px; */
}

.tag-select .react-dropdown-select-item {
  color: var(--secondary);
  /* border-radius: 15px; */
}

.tag-select .react-dropdown-select-input {
  color: var(--text);
  width: 150px;
  /* border-radius: 15px; */
}

.tag-select .react-dropdown-select-dropdown {
  position: absolute;
  left: 0;
  border: none;
  width: 150px;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  max-height: 300px;
  overflow: auto;
  z-index: 9;
  background: var(--accent);
  box-shadow: none;
  color: var(--text-accent) !important;
}



.tag-select .react-dropdown-select-item {
  color: var(--text-accent);
  border-bottom: 1px solid var(--text-accent);
  font-family: OpenSans;
  :hover {
    color: #ffffff80;
  }
}

.tag-select .react-dropdown-select-item.react-dropdown-select-item-selected,
.tag-select .react-dropdown-select-item.react-dropdown-select-item-active {
  border-bottom: 1px solid var(--background);
  color: var(--text-accent);
  font-weight: bold;
}

.tag-select .react-dropdown-select-item.react-dropdown-select-item-disabled {
  background: var(--background);
  color: var(--accent);
}







div.index-page div.main-title-underline {
  width: 100%;
  text-align: center;
  height: 0.15rem;
  background: var(--accent);
  margin-bottom: 20px;
}


.searchBar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: var(--text);
  font-family: OpenSansItalic;
}

.searchBar form {
  background-color: var(--secondary);
  border-radius: 15px;
  padding: 5px 5px;
  color: var(--text);
  font-family: OpenSansItalic;
}

.searchBar:hover form{
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
      /* 2. shadow ring 👇 */
      0 0 0 1px hsla(230, 13%, 9%, 0.075),
      /* 3. multiple soft shadows 👇 */
      0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
      0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
      0 3.5px 6px hsla(230, 13%, 9%, 0.09);
}

.searchBar input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 200px;
  font-size: 16px;
  padding: 5px;
  color: var(--text);
  font-family: OpenSansItalic;
}

.searchBar input::placeholder {
  color: var(--text-accent);
  color: var(--text);
  font-family: OpenSansItalic;
}





div.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: var(--text);
}

.paginationButton {
  background: var(--secondary);
  color: var(--text);
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  margin: 7px 7px;
  font-family: Montserrat;
}

.paginationButton:hover {
  background: var(--secondary);
  color: var(--accent);
  border: none;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
      /* 2. shadow ring 👇 */
      0 0 0 1px hsla(230, 13%, 9%, 0.075),
      /* 3. multiple soft shadows 👇 */
      0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
      0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
      0 3.5px 6px hsla(230, 13%, 9%, 0.09);
  border-radius: 15px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  margin: 7px 7px;
  font-family: Montserrat;
}



/* Estilos para móviles */
@media only screen and (max-width: 767px) {
  div.index-page {
    height: auto;
  }

  .layout {
    flex-direction: column;
    /* Cambiar a columna para móviles */
    margin: 10px;
  }

  .searchBar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: var(--text);
    font-family: OpenSansItalic;
  }

  .searchBar form {
    background-color: var(--secondary);
    border-radius: 20px;
    padding: 10px 20px;
    color: var(--text);
    font-family: OpenSansItalic;
  }

  .searchBar input {
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    color: var(--text);
    font-family: OpenSansItalic;
  }

  .searchBar input::placeholder {
    color: var(--text-accent);
    color: var(--text);
    font-family: OpenSansItalic;
  }
}