/* .index-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.index-page {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  background-color: var(--background);
  padding: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 960px;
  width: 100%;
}

.layout {
  flex: 1;
  display: flex;
  gap: 20px;
  color: var(--text);
}

.tag-filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.tag-filter-title {
  font-size: 24px;
  margin-bottom: 10px;
}

div.tag-filter-container .tag-select {
  background: var(--secondary);
  border: none;
  border-radius: 15px;
}

div.tag-filter-container .tag-select:hover {
  background: var(--accent);
  border: none;
  border-radius: 15px;
}

div.tag-filter-container .tag-select:hover .react-dropdown-select-option {
  color: var(--text);
  background-color: var(--secondary);
}

div.tag-filter-container .tag-select .react-dropdown-select-input:hover {
  color: var(--text-accent);
  width: 150px;
}

div.tag-filter-container .tag-select .react-dropdown-select-input {
  color: var(--text);
  font-family: OpenSansItalic;
  width: 150px;
}

div.tag-filter-container:hover .react-dropdown-select-input {
  color: var(--text-accent);
}

div.tag-filter-container .tag-select .react-dropdown-select-option {
  color: var(--text-accent);
  background-color: var(--accent);
  border-radius: 7px;
}

div.tag-filter-container:hover .react-dropdown-select {
  color: var(--text-accent);
}

div.tag-filter-container .react-dropdown-select {
  color: var(--accent);
}

div.tag-filter-container .tag-select .react-dropdown-select-dropdown {
  position: absolute;
  left: 0;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  max-height: 300px;
  overflow: auto;
  z-index: 9;
  background: var(--accent);
  box-shadow: none;
  color: var(--text-accent);
}

div.tag-filter-container .tag-select .react-dropdown-select-item {
  color: var(--text-accent);
  border-bottom: 1px solid var(--text-accent);
  font-family: OpenSans;
  :hover {
    color: var(--accent);
  }
}

div.index-page div.main-title-underline {
  width: 100%;
  text-align: center;
  height: 0.15rem;
  background: var(--accent);
  margin-bottom: 20px;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--text);
  font-family: OpenSansItalic;
}

.searchBar form {
  display: flex; /* Alinea el icono y el FormControl en la misma línea */
  align-items: center; /* Centra verticalmente el contenido */
  background-color: var(--secondary);
  border-radius: 15px;
  padding: 5px 10px;
  color: var(--text);
}

.searchBar:hover form {
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    0 0 0 1px hsla(230, 13%, 9%, 0.075), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
}

.searchBar form:hover {
  background-color: var(--accent);
  color: var(--text-accent);
  font-family: OpenSansItalic;
}

.d-flex:hover .-icon2 {
  margin-right: 10px;
  color: var(--text-accent);
}

.d-flex:hover input::placeholder {
  color: var(--text-accent);
  font-family: OpenSansItalic;
}

.searchBar form:hover {
  background-color: var(--accent);
  color: var(--text-accent);
  font-family: OpenSansItalic;
}

.searchBar input:hover {
  color: var(--text-accent);
  font-family: OpenSansItalic;
}

.searchBar input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 200px;
  font-size: 16px;
  padding: 5px;
  color: var(--text);
  font-family: OpenSansItalic;
  flex: 1; /* Aprovecha todo el espacio disponible en el ancho */
}

.searchBar input::placeholder {
  color: var(--text);
  font-family: OpenSansItalic;
}

.-icon2 {
  margin-right: 10px; /* Espacio entre el icono y el FormControl */
  color: var(--accent); /* Color del icono */
}

div.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: var(--text);
}

.paginationButton {
  background: var(--secondary);
  color: var(--text);
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  margin: 7px 7px;
  font-family: Montserrat;
}

.paginationButton:hover {
  background: var(--accent);
  color: var(--text-accent);
  border: none;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    0 0 0 1px hsla(230, 13%, 9%, 0.075), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
  border-radius: 15px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  margin: 7px 7px;
  font-family: Montserrat;
}

@media only screen and (max-width: 980px) {
  div.index-page {
    height: auto;
  }

  .layout {
    flex-direction: column;
    margin: 10px;
    align-items: center;
  }

  .searchBar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: var(--text);
    font-family: OpenSansItalic;
  }

  .searchBar form {
    background-color: var(--secondary);
    border-radius: 20px;
    padding: 10px 20px;
    color: var(--text);
    font-family: OpenSansItalic;
    width: 500px;
  }

  .searchBar input {
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    color: var(--text);
    font-family: OpenSansItalic;
  }

  .searchBar input::placeholder {
    color: var(--text-accent);
    color: var(--text);
    font-family: OpenSansItalic;
  }
}

@media only screen and (max-width: 767px) {
  div.index-page {
    height: auto;
  }

  .layout {
    flex-direction: column;
    margin: 10px;
  }

  .searchBar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: var(--text);
    font-family: OpenSansItalic;
  }

  .searchBar form {
    background-color: var(--secondary);
    border-radius: 20px;
    padding: 10px 20px;
    color: var(--text);
    font-family: OpenSansItalic;
  }

  .searchBar input {
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    color: var(--text);
    font-family: OpenSansItalic;
  }

  .searchBar input::placeholder {
    color: var(--text-accent);
    color: var(--text);
    font-family: OpenSansItalic;
  }
}
