.related-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;

  max-height: 400px;
  max-width: 200px;
  &:hover {
    transform: scale(1.05);
  }
}

.image2 img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.related-post-content {
  text-align: center;
  font-size: .8rem;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}




.tag {
  margin-right: 5px;
}

@media only screen and (max-width: 767px) {

  .related-post {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: var(--secondary);
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease-in-out;

      min-height: 300px;
      min-width: 400px;

      &:hover {
        transform: scale(1.05);
      }
    }

    .image2 img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    .related-post-content {
      text-align: center;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .tag {
      margin-right: 5px;
    }
}