
.table-of-contents {
  background-color: var(--background);
}

.table-of-contents h2 {
  margin-bottom: 10px;
  font-size: 1em;
}

.table-of-contents ul {
  list-style: none;
  padding-left: 0;
}

.table-of-contents li {
  margin-bottom: 5px;
}

.table-of-contents a {
  text-decoration: none;
  color: var(--text);
}

.heading-level-1 {
  font-size: .9em;
}

.heading-level-2 {
  font-size: .8em;
  margin-left: 20px;
}

.heading-level-3 {
  font-size: .7em;
  margin-left: 40px;
}
