*{
  box-sizing: border-box;
  /* background-color: var(--background-color); */
}

:root{
      background-color: var(--background-color);
      color: var(--text-color);

}

main {
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
  background-color: var(--background-color);
    color: var(--text-color);
}



nav li:hover {
  text-decoration: none;
  color: inherit;
}




/* POSTS */
img {
  max-width: 100%;

  /* La imagen ocupará todo el espacio vertical disponible */
  object-fit: cover;
  /* La imagen llenará todo el espacio, recortando si es necesario */
  border-radius: 8px 8px 0 0;
  /* Esquinas redondeadas en la parte superior de la imagen */
}

