* {
  box-sizing: border-box;
}

:root {
  background-color: var(--background);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

main {
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
  background-color: var(--background);
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: OpenSansBold;
  src: url(../public/fonts/Open_Sans/static/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../public/fonts/Open_Sans/static/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSansItalic;
  src: url(../public/fonts/Open_Sans/static/OpenSans-Italic.ttf);
}

@font-face {
  font-family: Merriweather;
  src: url(../public/fonts/Merriweather/Merriweather-Regular.ttf);
}

@font-face {
  font-family: MerriweatherBold;
  src: url(../public/fonts/Merriweather/Merriweather-Bold.ttf);
}

@font-face {
  font-family: MerriweatherItalic;
  src: url(../public/fonts/Merriweather/Merriweather-Italic.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../public/fonts/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
  font-family: MontserratBold;
  src: url(../public/fonts/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
  font-family: MontserratItalic;
  src: url(../public/fonts/Montserrat/static/Montserrat-Italic.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(../public/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}
