body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  --background: #f5f5f5;
  --primary: #add7d7;
  --secondary: #ecebed;
  --accent: #55aaaa;
  --text: #11100e;
  --text-dim: #888;
  --text-accent: #11100e;

}


[data-theme="dark"] {
  --background: #11100e;
  --primary: #add7d7;
  --secondary: #201e22;
  --accent: #99cccc;
  --text: #f5f5f5;
  --text-dim: #888;
  --text-accent: #11100e;
}
* {
  transition: all 0.3s ease-in-out;
}