body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-color: #fbf8ff; /*----60%-----*/
  --text-color: #27374D; /*----30%-----*/
  --extra-color: #d5d8e5; /*----30%-----*/
  --accent-color: #845ec2; /*----10%-----*/
}

[data-theme="dark"] {
  --background-color: #4b4453;
  --text-color: #DDE6ED;
  --extra-color: #526D82;
  --accent-color: #845ec2;
}
* {
  transition: all 0.3s ease-in-out;
}